@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html, body {
    background-color: #e6e6ff;
    width: 100vw;
    overflow-x: hidden;
    font-family: "Montserrat", "Helvetica Neue",;
}